In [1]:
from pathlib import Path
this_file = Path('.').resolve()
project_directory = this_file.parent
project_directory
import pandas as pd
df = pd.read_csv(project_directory/'result_game1_evolve_static_single.py'/'optPop'/'Phen.csv', header=None, names=[f'station{i}'for i in range(1, 12+1)])
df = df.astype(int)
df.head()

,station1,station2,station3,station4,station5,station6,station7,station8,station9,station10,station11,station12
0,453,314,46,92,975,573,801,390,140,76,18,217

In [2]:
df.to_numpy()

array([[453, 314,  46,  92, 975, 573, 801, 390, 140,  76,  18, 217]])

In [8]:
import src.game1_evolve_static_multi as game
problem = game.WaterDropMarch()
f,cv = problem.evalVars(df.to_numpy())

In [10]:
import numpy as np
K = 1
-np.log(np.sum(np.exp(-K * f))) / K

3.3552354122612544

In [9]:
f.min()

4.639544